
*{margin: 0px;padding: 0px;}
 html{font-size: 62.5%;}
 body{font-size: 20px;font-family:SimSun;color: white;}
 .main{background-color: #00FFFF;
 	position: relative;
 	margin: 0 auto;
 	overflow: hidden;
 	width:100%;
 	padding-bottom:20%;
 }
 .black img{width: 54px;
 	height: 54px;
 	position: absolute;
 	top: 1rem;
 	left: 1rem;
 }
 .middle{text-align: center;
 	margin-bottom: 8rem;
 }
 .middle img{width: 189px;
 	height: 70px;
 	margin-top:10rem; 
 }
 .footleft{display: inline-block;
 	text-align:center;
 	float:left;
 	margin-bottom: 8rem;
 	padding-left: 10%;
 }
 .footright{display: inline-block;
 	text-align:center;
 	float:right;
 	margin-bottom: 8rem;
 	padding-right: 10%;
 }
 .footleft img{width: 85px;
 	height: 85px;
 }
 .footright img{width: 84px;
 	height: 84px;
 }
